<ion-header>
  <ion-toolbar>
    <ion-title>
      Minha Lista de Pessoas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input labelPlacement="floating" label="Nome" type="text" [(ngModel)]="newPerson.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input labelPlacement="floating" label="Idade" type="number" [(ngModel)]="newPerson.age"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Foto</ion-label>
    <input id="fileInput" type="file" accept="image/*" (change)="onFileSelected($event)">
    <ion-thumbnail slot="end" *ngIf="newPerson.image">
      <img [src]="newPerson.image">
    </ion-thumbnail>
  </ion-item>

  <ion-button expand="block" (click)="addOrEditPerson()">{{ isEditing ? 'Salvar Edição' : 'Adicionar Pessoa' }}</ion-button>

  <ion-list lines="full">
    <ion-item *ngFor="let person of people; index as index" (click)="startEdit(person, index)">
      <ion-thumbnail slot="start" *ngIf="person.image">
        <img [src]="person.image">
      </ion-thumbnail>
      <ion-label>{{ person.name }} - {{ person.age }}</ion-label>
      <ion-icon slot="end" name="trash" (click)="confirmDeletePerson(index)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>