<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card *ngFor="let item of items;">
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
        <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{item.body}}
      </ion-card-content>

      <ion-button (click)="openModal(item)" expand="full" shape="round">Comments</ion-button>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>